/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
h1 {
  text-align: center;
  color: #fff;
}

.header {
  background-color: green;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 10px;
}

.header h1 {
  margin: 0;
  font-size: 2em;
}

/* Form Styles */
form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 350px;
  margin-left: 70px;
  margin-top: 40px;
}

form input {
  width: calc(50% - 10px);
  margin-right: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px;
}

select {
  width: calc(50% - 10px);
  margin-right: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 342px;
  background-color: #fff;
}

option {
  font-size: medium;
}

form button {
  padding: 10px 20px;
  border: none;
  background-color: green;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 90px;
}

form button:hover {
  background-color: rgb(27, 160, 27);
}

/* Table Styles */
table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-left: 500px;
  margin-top: 115px;
  margin-bottom: 50px;
}

thead {
  background-color: green;
  color: #fff;
}

thead th {
  padding: 12px 15px;
  cursor: pointer;
}

thead th:hover {
  background-color: rgb(27, 160, 27);
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody td {
  padding: 12px 15px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:last-child {
  border-bottom: none;
}

button {
  background-color: red;
  border-radius: 4px;
  color: #fff;
}

button:hover {
  background-color: rgb(143, 49, 49);
}

button.delete {
  background-color: #dc3545;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button.delete:hover {
  background-color: rgb(27, 160, 27);
}

/* Search Bar */

#search {
  width: 30%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 10px 0;
  box-sizing: border-box;
  margin-left: 500px;
  margin-top:5px;
  margin-bottom: -20px;
  height: 60px;
}

#search-by {
  margin-left: 500px;
  margin-top: 15px;
}
/* Category Filter */

.category-filter {
  height: 0px;
  margin-top: -455px;
  width: 450px;
  margin-left: 1045px;
}

#category {
  height:60px;
}

p {
  font-weight: bolder;
}

option:hover {
  outline: none;
  background-color: green;
}

